<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    
    <link rel="stylesheet" href="/static/css/phone/reset.css">
    <link rel="stylesheet" href="/static/css/phone/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Kalnia:wght@300&display=swap" rel="stylesheet">
</head>
<body class="container">
    <header class="header-flex-wrap">
        <a href="main.html"><h1 class="logo-text">beautymeansjewelry</h1></a>
        <div class="header-right-side-menu">
            <button class="header-menu"   aria-expanded="false" aria-controls="list">
                <img class="header-menu-icon" src="/static/icons/phone/Header-layers-icon.svg" alt="Header-layers-icon">
                <p>меню</p>
            </button>
            <a href="#">вход</a>
            <a class="header-bag" href="#">
                <img class="header-bag-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="Header-bag-icon">
                <p class="header-bag-count">2</p>
            </a>
        </div>
    </header>
    <main>
        <section class="catalog-page">
            <a class="arrow-back-link" href="javascript:history.back()">
                <img class="arrow-back-icon" src="/static/icons/Back-arrow-icon.svg" alt="Back-arrow-icon">
            </a>
            <h1 class="catalog-page-name">ожерелья</h1>
        </section>
        <section class="catalog-content">
            <div class="catalog-content-item">
                <a href="#"><img class="catalog-content-item-img" src="/static/images/Catalog/Catalog_2.jpg" alt="Catalog_2"></a>
                <a class="catalog-content-item-text" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                <div class="catalog-content-item-bottom">
                    <button class="catalog-content-item-bottom-buy-button"><img class="catalog-content-item-bottom-buy-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="header-bag-icon"></button>
                    <p class="catalog-content-item-bottom-price">7 600 р.</p>  
                </div>
            </div>
            <div class="catalog-content-item">
                <a href="#"><img class="catalog-content-item-img" src="/static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                <a class="catalog-content-item-text" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                <div class="catalog-content-item-bottom">
                    <button class="catalog-content-item-bottom-buy-button"><img class="catalog-content-item-bottom-buy-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="header-bag-icon"></button>
                    <p class="catalog-content-item-bottom-price">7 600 р.</p>  
                </div>
            </div>
            <div class="catalog-content-item">
                <a href="#"><img class="catalog-content-item-img" src="/static/images/Catalog/Catalog_2.jpg" alt="Catalog_2"></a>
                <a class="catalog-content-item-text" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                <div class="catalog-content-item-bottom">
                    <button class="catalog-content-item-bottom-buy-button"><img class="catalog-content-item-bottom-buy-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="header-bag-icon"></button>
                    <p class="catalog-content-item-bottom-price">7 600 р.</p>  
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>