<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    
    <link rel="stylesheet" href="/static/css/phone/reset.css">
    <link rel="stylesheet" href="/static/css/phone/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Belanosima&family=Bitter:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Kalnia:wght@300&display=swap" rel="stylesheet">
</head>
<body class="container">
    <header class="header-flex-wrap">
        <a href="main.html"><h1 class="logo-text">beautymeansjewelry</h1></a>
        <div class="header-right-side-menu">
            <div class="header-menu dropdown">
                <button class="btn btn-menu header-menu-old" onclick="toggleMenu(this)">
                    <img class="header-menu-icon" src="/static/icons/phone/Header-layers-icon.svg" alt="Header-layers-icon">
                    <p>меню</p>
                </button>
                <div class="dropdown-content" id="dropdownMenu">
                    <a class="dropdown-content-text" href="contacts.html">контакты</a>
                    <a class="dropdown-content-text" href="delivery.html">доставка</a>
                    <a class="dropdown-content-text" href="information.html">информация</a>
                </div>
            </div>
            <a href="#">вход</a>
            <a class="header-bag" href="#">
                <img class="header-bag-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="Header-bag-icon">
                <p class="header-bag-count">2</p>
            </a>
        </div>
    </header>
    <main class="information">
        <ul class="information-list">
            <li><a href="#">доставка</a></li>
            <li><a href="#">оплата</a></li>
            <li><a href="#">уход за украшениями</a></li>
            <li><a href="#">обо мне</a></li>
        </ul>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
    <script src="/static/js/menu.js"></script>
</body>
</html>