<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    
    <link rel="stylesheet" href="/static/css/phone/reset.css">
    <link rel="stylesheet" href="/static/css/phone/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Kalnia:wght@300&display=swap" rel="stylesheet">
</head>
<body class="container">
    <header class="header-flex-wrap">
        <a href="main.html"><h1 class="logo-text">beautymeansjewelry</h1></a>
        <div class="header-right-side-menu">
            <button class="header-menu"   aria-expanded="false" aria-controls="list">
                <img class="header-menu-icon" src="/static/icons/phone/Header-layers-icon.svg" alt="Header-layers-icon">
                <p>меню</p>
            </button>
            <a href="#">вход</a>
            <a class="header-bag" href="#">
                <img class="header-bag-icon" src="/static/icons/phone/Header-bag-icon.svg" alt="Header-bag-icon">
                <p class="header-bag-count">2</p>
            </a>
        </div>
    </header>
    <main>
        <section class="main-photo">
            <div class="container">
                <img src="/static/images/Main/Main_photo.jpg" alt="main-photo">
            </div>
        </section>
        <section class="main-catalog">
            <ul>
                <li>
                    <a class="main-catalog-item" href="catalog.html">
                        <img class="main-catalog-item-img" src="/static/images/Main/Main_rings.jpg" alt="Main_rings">
                        <div class="main-catalog-item-bottom">
                            <p class="main-catalog-item-bottom-text">кольца</p>
                            <img class="main-catalog-item-bottom-arrow" src="/static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="main-catalog-item" href="#">
                        <img class="main-catalog-item-img" src="/static/images/Main/Main_neck.jpg" alt="Main_neck">
                        <div class="main-catalog-item-bottom">
                            <p class="main-catalog-item-bottom-text">ожерелья</p>
                            <img class="main-catalog-item-bottom-arrow" src="/static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="main-catalog-item" href="#">
                        <img class="main-catalog-item-img" src="/static/images/Main/Main_bag.jpg" alt="Main_bag">
                        <div class="main-catalog-item-bottom">
                            <p class="main-catalog-item-bottom-text">брелки</p>
                            <img class="main-catalog-item-bottom-arrow" src="/static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="main-catalog-item" href="#">
                        <img class="main-catalog-item-img" src="/static/images/Main/Main_rings.jpg" alt="Main_rings">
                        <div class="main-catalog-item-bottom">
                            <p class="main-catalog-item-bottom-text">кольца</p>
                            <img class="main-catalog-item-bottom-arrow" src="/static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>