<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter:wght@100..900&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main class="bag container">
        <h2 class="bag-page-name">корзина</h2>
        <section class="bag-item">
            <div class="bag-item-column">
                <img class="bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                <p class="bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                <p class="bag-item-price">7 600 р.</p>
            </div>
            <button><img class="bag-x-circle" src="../static/icons/Icon-x-circle.svg" alt="Icon-x-circle"></button>
        </section>
        <section class="bag-item">
            <div class="bag-item-column">
                <img class="bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                <p class="bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                <p class="bag-item-price">7 600 р.</p>
            </div>
            <button><img class="bag-x-circle" src="../static/icons/Icon-x-circle.svg" alt="Icon-x-circle"></button>
        </section>
        <section class="bag-item">
            <div class="bag-item-column">
                <img class="bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                <p class="bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                <p class="bag-item-price">7 600 р.</p>
            </div>
            <button><img class="bag-x-circle" src="../static/icons/Icon-x-circle.svg" alt="Icon-x-circle"></button>
        </section>
        <li><p class="bag-price-sum">Итого: 22 800 р.</p></li>
        <a href="confirm-order.html"><button class="bag-confirm-button">оформить заказ</button></a>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>