<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="card-photo-display">
                <button><img src="../static/icons/card_arrow_left.svg" alt="card_arrow_left"></button>
                <img class="card_photo" src="../static/images/Card/Card_1.jpg" alt="Card_1">
                <button><img src="../static/icons/card_arrow_right.svg" alt="card_arrow_right"></button>
            </div>
        </section>
        <section class="card-desc container">
            <h2 class="card-desc-name">Серьги-конго из серебра</h2>
            <p class="card-desc-price">6 700 р.</p>
            <div class="card-button-wishlist-display">
                <button class="card-desc-buy-button">добавить в корзину</button>
                <button><img class="card-desc-wishlist" src="../static/icons/Card_heart.svg" alt="Card_heart"></button>
            </div>
            <p class="card-desc-material">Материалы: Серебро 925</p>
            <p class="card-desc-text-name">Описание:</p>
            <p class="card-desc-text">Трендовые серьги-конго из коллекции IF YOU WANT выполнены в изящной овальной форме. Это стильное украшение, изготовленное из серебра 925 пробы и покрытое благородным родием, идеально сочетает в себе классическую элегантность и современные модные веяния!</p>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>