<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter:wght@100..900&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main class="confirm">
        <h2 class="confirm-page-name">подтверждение заказа</h2>
        <div class="confirm-flex-wrap">
            <section class="confirm-order">
                <section class="confirm-bag-item">
                    <div class="confirm-bag-item-column">
                        <img class="confirm-bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                        <p class="confirm-bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                        <p class="confirm-bag-item-price">7 600 р.</p>
                    </div>
                </section>
                <section class="confirm-bag-item">
                    <div class="confirm-bag-item-column">
                        <img class="confirm-bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                        <p class="confirm-bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                        <p class="confirm-bag-item-price">7 600 р.</p>
                    </div>
                </section>
                <section class="confirm-bag-item">
                    <div class="confirm-bag-item-column">
                        <img class="confirm-bag-item-img" src="../static/images/Catalog/Catalog_1.jpg" alt=""Catalog_1>
                        <p class="confirm-bag-item-name">Серебряное колье-чокер GALATEA с натуральным жемчугом</p>
                        <p class="confirm-bag-item-price">7 600 р.</p>
                    </div>
                </section>
                <li><p class="confirm-bag-price-sum">Итого: 22 800 р.</p></li>
            </section>
            <section class="confirm-profile">
                <div class="form-text-display">
                    <p class="form-text">мои данные</p>
                </div>
                <div class="form-and-text">
                    <form action="" method="">
                        <label>
                            <span class="input-label">username</span>
                            <input class="input-text" type="text" placeholder="Gustafv">
                        </label>
                        <label>
                            <span class="input-label">email</span>
                            <input class="input-text" type="email" placeholder="timur.umarov@outlook.com">
                        </label>
                        <label>
                            <span class="input-label">имя</span>
                            <input class="input-text" type="text" placeholder="Тимур">
                        </label>
                        <label>
                            <span class="input-label">фамилия</span>
                            <input class="input-text" type="text" placeholder="Умаров">
                        </label>
                        <label>
                            <span class="input-label">день рождения</span>
                            <input class="input-text" type="date" placeholder="31">
                        </label>
                        <label>
                            <span class="input-label">номер телефона</span>
                            <input class="input-text" type="tel" placeholder="+79612574536">
                        </label>
                        <label>
                            <span class="input-label">предпочитаемый вид связи</span>
                            <select>
                                <option value="option1">telegram</option>
                                <option value="option2">vk</option>
                            </select>
                        </label>
                    </form>
                </div>
            </section>
        </div>
        <a href="after-order.html"><button class="confirm-confirm-button">подтвердить заказ</button></a>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>