<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter:wght@100..900&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main>
        <section class="container">
            <ul class="delivery-chapter-display">
                <li class="delivery-chapter-icon"><img src="../static/icons/Delieviry_Airplane.svg" alt="Delieviry_Airplane"></li>
                <div class="delivery-chapter-text">
                    <li><p>ДОСТАВКА</p></li>
                    <li><p>Оформление доставки заказа продукции из наличия осуществляется в течении 1-3 рабочих дней после оформления заказа</p></li>
                </div>
            </ul>
            <ul class="delivery-chapter-display">
                <li class="delivery-chapter-icon"><img src="../static/icons/Delieviry_Suitcase.svg" alt="Delieviry_Suitcase"></li>
                <div class="delivery-chapter-text">
                    <li><p>ДОСТАВКА РОССИЯ</p></li>
                    <li><p>Возможно оформление доставки ПОЧТОЙ РОССИИ и СДЕК, а так же любым другим оператором на усмотрение покупателя и оплачивается покупателем в соответствии с тарифами компаний.</p></li>
                </div>
            </ul>
            <ul class="delivery-chapter-display">
                <li class="delivery-chapter-icon"><img src="../static/icons/Delieviry_Truck.svg" alt="Delieviry_Truck"></li>
                <div class="delivery-chapter-text">
                    <li><p>ДОСТАВКА МСК/МО</p></li>
                    <li><p>тоимость курьерской доставки по Москве для заказов до 10000р составляет 500р.
БЕСПЛАТНО для заказов от 10000р.</p></li>
                </div>
            </ul>
            <ul class="delivery-chapter-display">
                <li class="delivery-chapter-icon"><img src="../static/icons/Delieviry_MapPin.svg" alt="Delieviry_MapPin"></li>
                <div class="delivery-chapter-text">
                    <li><p>САМОВЫВОЗ</p></li>
                    <li><p>Стоимость курьерской доставки по Московской области -1000р.
БЕСПЛАТНО для заказов от 15000р.</p></li>
                </div>
            </ul>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>