<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main>
        <section class="main-photo">
            <div class="container">
                <img src="../static/images/Main/Main_photo.jpg" alt="main-photo">
            </div>
        </section>
        <section class="main-catalog" >
            <div class="container">
            <ul class="main-catalog-display">
                <li class="main-catalog-item-link">
                    <a href="#">
                        <img src="../static/images/Main/Main_rings.jpg" alt="Main_rings">
                        <div class="main-catalog-item-link-display">
                            <h2 class="main-catalog-item-link-name">Кольца</h2>
                            <img class="main-catalog-arrow" src="../static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li class="main-catalog-item-link">
                    <a href="#">
                        <img src="../static/images/Main/Main_neck.jpg" alt="Main_neck">
                        <div class="main-catalog-item-link-display">
                            <h2 class="main-catalog-item-link-name">Ожерелья</h2>
                            <img class="main-catalog-arrow" src="../static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li class="main-catalog-item-link" >
                    <a href="#">
                        <img src="../static/images/Main/Main_rings.jpg" alt="Main_rings">
                        <div class="main-catalog-item-link-display">
                            <h2 class="main-catalog-item-link-name">Кольца</h2>
                            <img class="main-catalog-arrow" src="../static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
                <li class="main-catalog-item-link" >
                    <a href="#">
                        <img src="../static/images/Main/Main_bag.jpg" alt="Main_bag">
                        <div class="main-catalog-item-link-display">
                            <h2 class="main-catalog-item-link-name">Серьги</h2>
                            <img class="main-catalog-arrow" src="../static/icons/Icon_arrow.svg" alt="Icon_arrow">
                        </div>
                    </a>
                </li>
            </ul>
            </div>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>