<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&family=Bitter&family=Kalnia&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-menu header">
        <nav class="logo"> <a href="main.html">beautymeansjewelry</a></nav>
        <nav class="main-menu-center container">
            <li>
                <a class="header-nav-link" href="catalog.html">
                    <span>каталог</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="contacts.html">
                    <span>контакты</span>
                </a>
            </li>
            <li>
                <a class="header-nav-link" href="information.html">
                    <span>информация</span>
                </a>
            </li>
        </nav>
        <nav class="main-menu-right-side container">
            <li class="header-login">
                <a class="header-nav-link" href="#">
                    <span>Вход</span>
                </a>
            </li>
            <li class="header-bag">
                <a class="header-nav-link" href="bag.html">
                    <img src="../static/icons/Header_Bag.svg" alt="Header_Bag">
                </a>
                <span class="bag-counter" >2</span>
            </li>
        </nav>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="wishlist">
                    <img class="wishlist-icon" src="../static/icons/Profile_heart.svg" alt="Profile_heart">
                    <p class="wishlist-text">избранное</p>
                </div>
                <a class="arrow-back-link" href="javascript:history.back()">
                    <img class="arrow-back-icon" src="../static/icons/Back-arrow-icon.svg" alt="Back-arrow-icon">
                </a>
            <ul class="catalog-display">
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="card.html"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="card.html">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
                <li class="catalog-item-link">
                    <a class="catalog-item-link-image" href="#"><img src="../static/images/Catalog/Catalog_1.jpg" alt="Catalog_1"></a>
                    <a class="catalog-item-link-name" href="#">Серебряное колье-чокер GALATEA с натуральным жемчугом</a>
                    <div class="catalog-price-display">
                        <button class="catalog-item-link-bag"><img src="../static/icons/Wish_Trash.svg" alt="Wish_Trash"></button>
                        <button class="catalog-item-link-price"><span>7 600 р.</span></button>
                    </div>
                </li>
            </ul>
            </div>
        </section>
    </main>
    <footer>
        <p class="footer">© 2025 - </p>
    </footer>
</body>
</html>